.stuff{
	margin-top:30px;
	margin-bottom: 30px;
	float: left;
	background-color:#faebd7;
	padding: 10px;
}
.info{
	color:#7B3F00;

}
ul li{
	list-style: none;
	text-align: center;
}
ul li img{
	max-width: 100%;
}
