<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="day8morning.css">
  </head>
  <body ng-app>

    
   <a href ="#" ng-click="showme=!showme">click me</a>

   <div ng-show ="showme" class="lightbox">
   		<img src="https://s-media-cache-ak0.pinimg.com/736x/e5/d7/e0/e5d7e0dd5dc3b5925b4f59438e1a4dca.jpg">
   		<div ng-click="showme=!showme"class="cover">
   		</div>
   </div>
    



    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js">
    </script>
  </body>
</html>